.ps-theme-base .ps-bank-choose-assured {
    display: none;
}

.ps-theme-checkout-standard .ps-header-view .ps-header-amount-text {
    display: none;
}


.ps-theme-checkout-standard .ps-header-view .ps-details-intro {
    display: none;
}
